{% extends 'base.html' %}

{% block mainbody %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2 style="text-align:center">
					Sina Weibo Weather System
				</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="chart-container">
                <div id="bar" style="width: 600px;height:400px;"></div>
            </div>
		</div>
        <div class="col-md-6">
			<div class="chart-container" >
                <div id="pan" style="width: 600px;height:400px;"></div>
            </div>
		</div>
	</div>
</div>
{% endblock %}

{% block post_script %}
    <script type="text/javascript">
        var option = {
            title: {
                text: '各天气类型记录数量'
            },
            tooltip: {},
            xAxis: {
                //data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
                data: {{ WeatherTypeList|safe }}
            },
            yAxis: {},
            series: [{
                //name: '天气类型',
                type: 'bar',
                data:{{ WeatherTypeNumber|safe }}
            }]
        };
        echarts.init(document.getElementById('bar')).setOption(option);


        option = {
             title : {
                text: '各天气类型记录占比',
                subtext: '饼状图',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
            },
            series : [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:{{ WeatherTypeDic|safe }},
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        echarts.init(document.getElementById('pan')).setOption(option);

    </script>
{% endblock %}